.container {
    margin: 0 auto;
    width: 75%;
    color: var(--whiteColor);
}

.experience-container {
    grid-gap: 2rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
}

.experience__container>div {
    background: transparent;
    padding: 2.4rem 5rem;
}

.experience-content {
    grid-row-gap: 2rem;
    display: grid
;
    grid-template-columns: 1fr 1fr;
    row-gap: 2rem;
}

.experience-details {
    display: flex;
    gap: 1rem;
}

div {
    display: block;
    unicode-bidi: isolate;
}

.experience-details-icon {
    height: 2rem;
    margin-top: 4px;
    width: 2rem;
}

.star {
    color: var(--eyeCatchColor);
}