#about{
    background-color: #2b2d30;
    height: 150vh;
}

.steckbrief-wrapper {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.steckbrief {
    display: flex;
    flex-direction: column;
    gap: 55px;
    margin-top: 0;
    align-items: center;
}

.eintrag {
    display: flex;
    align-items: center;
    gap: 30px;
    font-size: 20px;
    color: var(--whiteColor);
}

.eintrag i {
    width: 25px;
    text-align: center;
    color: var(--eyeCatchColor);
    font-size: 25px;
}

.about-me {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 0 20px;
    font-size: 20px;
    color: var(--whiteColor);
}

.text-image {
    display: flex;
    align-items: center;
    gap: 30px;
    max-width: 900px;
}

.text-image.left img {
    order: 0;
}

.text-image.left p {
    text-align: justify;
}

.text-image.right img {
    order: 1;
}

.text-image.right p {
    text-align: justify;
}

.text-image img {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

/* Handy-Optimierung */
@media (max-width: 768px) {
    .text-image {
        flex-direction: column;
        text-align: center;
        gap: 15px;
    }

    #about{
        background-color: #2b2d30;
        height: 180vh;
    }


    .text-image img {
        width: 150px;
    }

    .text-image.left img,
    .text-image.right img {
        order: -1;
    }

    .about-me {
        font-size: 16px;
        gap: 30px;
    }
}

@media (max-width: 480px) {
    .text-image.left img,
    .text-image.right img {
        order: -1;
        width: 120px;
    }

    .about-me {
        font-size: 14px;
        gap: 20px;
    }
}