#contact {
    background-color: var(--firstColor);
    height: 40vh;
    color: white;
}

.section-title {
    font-size: 2rem;
    font-weight: bold;
    color: var(--eyeCatchColor);
    margin-bottom: 20px;
}

.left-contact-side{
    flex-basis: 35%;
}

.left-contact-side p{
    margin-top: 30px;
}

.left-contact-side p i{
    color: var(--eyeCatchColor);
}

.right-contact-side{
    flex-basis: 60%;
}


